/* GENERALE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;

}
/* UTILITY */
.container{
  width: 1200px;
  margin:0 auto;
  background-color: #0c325a;
}
h1,
h2,
h3{
  font-weight: 500px;
}
.clear-fix::after{
  content: '';
  display: table;
  clear: both;
}
.link-list-inline li {
  padding: 6px;
  display: inline-block;
}
.link-list-inline li a{
  text-decoration:none;
  color: #fff;

}

.f-left{
  float: left;
}
.f-right{
  float: right;
}
.btn{

  padding:10px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #fff;
  line-height: 26px;
  min-width: 100px;
  text-align: center;
  font-size: 14px;
}
.btn-color{
  background-color: #7fb802;
  border: 1px solid #7fb802;
  color: #fff;
}

.btn-large{
  padding:10px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid green;
  line-height: 26px;
  text-align:center;
  text-decoration: none;
}

/* --------------------------------------------------------------------- */

header{
  background-color: #0c325a;
}
.main-header{
  line-height: 80px;
  font-size: 12px;
  text-transform:uppercase;
}
.header-logo{
  width:15%;
  padding: 15px;
}
.header-nav{
  width:45%;
}
.header-botton{
  width:40%;
}
header .container{
  height: 600px;
  background-repeat: no-repeat;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-position:right bottom;
}


h1{
  font-size: 50px;
  color:#fff;
}
.text-center{
  width: 50%;
  margin-top: 100px;
}
