/* GENERALE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  color: #808080;
}
/* UTILITY */
.container{
  width: 1200px;
  margin:0 auto;
  background-color: #0c325a;
}
h1,
h2,
h3{
  font-weight: 500px;
}
.text-center{
  text-align:center;
}
.clear-fix::after{
  content: '';
  display: table;
  clear: both;
}
.link-list-inline li {
  padding: 6px;
  display: inline-block;
}
.link-list-inline li a{
  text-decoration:none;
  color: #fff;

}

.f-left{
  float: left;
}
.f-right{
  float: right;
}

.btn{
  padding:5px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #fff;
  line-height: 23px;
  min-width: 100px;
  text-align: center;
  font-size: 14px;
}
.btn-color{
  background-color: #7fb802;
  border: 1px solid #7fb802;
  color: #fff;
}

.btn-large{
  padding:10px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid green;
  line-height: 26px;
  text-align:center;
  text-decoration: none;
}

/* --------------------------------------------------------------------- */
/* parte hede/nav */
header{
  background-color: #0c325a;
}
.main-header{
  line-height: 80px;
  font-size: 12px;
  text-transform:uppercase;
}
.header-logo{
  width:15%;
  padding: 15px;
}
.header-nav{
  width:45%;
}
.header-botton{
  width:40%;
}
header .container{
  height: 650px;
  position: relative;

}
.background{
  background-repeat: no-repeat;
  background-image: url(../img/background-header.png);
  background-size: 1200px;
  background-position:-30px bottom;
  height: 100%;
  position:absolute;
  bottom: 0;
  right: -300px;
  width: 100%;
}
h1{
  font-size: 50px;
  color:#fff;
  margin-bottom: 15px;
}
.text-center{
  width: 50%;
  margin-top: 100px;
}
/* parte main */
.conteiner-center{
  height: 130px;
  background:#d3d3d3;
  text-align: center;
}
.conteiner-center h2{
  margin-bottom: 15px;
  font-size: 28px;
  color: #000;
}
.colon-1{
  height: 150px;
  margin-bottom: 20px;
  width: calc(100% / 3);
  padding:0 20px;
}
.colon-1 h3::after{
  content: '';
display: block;
width: 60px;
height: 1px;
margin: 25px auto;
background: gray;
}
